  body {
    background-color: white;
    margin: 0 auto;
    font-family: 'Signika', sans-serif;
    color: black;
    background-image: url("./background.png");
  }
  
  .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    width: 80%;
    margin: 0 auto;
  }
  
  .nowPlaying {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  header {
    text-align: center;
    background-color: #9099a2;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  
  h1 {
    font-weight: lighter;
  }
  /* .fixed {
    position: absolute;
    top: 0;
  } */
  
  .search-form {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 1em;
    background-color: #9099a2;
  }
  
  .searchInput {
    height: 2em;
    width: 15em;
    font-size: 1.2em;
    border: 1px solid #BDBDBD;
    flex: 1;
    transition: .7s;
  }
  
  .searchInput:focus {
    box-shadow: 1px 1px 1px lightgrey;
    outline: none;
    flex: 5;
  }
  
  .submit {
    margin-left: 1em;
    height: 2em;
    width: 12.3em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    flex: 1;
    background-color: #6D7993;
    border: 0;
    outline: none;
    color: #FFFFFF;
  }
  
  span p {
    font-size: 9px;
    text-align: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    width: 100%;
    height: 2.5em;
    transition: .5s;
  }
  
  .row:hover {
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  img {
    height: 12em;
    width: 12em;
    margin: 1em;
    border: 1px solid #BDBDBD;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    align-self: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .results {
    background-color: #EFEFEF;
    width: 80%;
    margin: auto;
  }
  
  .title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .info {
    height: 20vh;
    margin: 1em;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }
  
  audio {
    width: 100%;
    color: #FFFFFF;
    display: block;
  }
  
  .table {
    border-top: solid 1px #BDBDBD;
    flex: 7;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
  }
  
  .icon {
    flex: 1;
    font-size: 3em;
  }
  
  .artist-data {
    flex: 5;
  }
  
  .row:first-child {
    font-weight: bold;
  }
  
  .fa {
    color: #EFEFEF;
    color: #6D7993;
    padding: 5px 0 5px 5px;
  }
  
  .row {
    z-index: 100;
  }
  /* .fa:hover {
    color: #6D7993;
  } */
  /* .select {
    width: 100%;
    opacity: .1;
    background-color: rgba(255, 0, 0, 0.5)
  } */