body {
  background-color: #60d9f1;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.player {
  border-bottom: solid 1px #004D40;
}

.search-form {
  margin: 0 auto;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 0;
  /* flex-wrap: wrap;
  flex-direction: column; */
}

.searchInput {
  margin: auto 1em;
  height: 2em;
  width: 15em;
  font-size: 1.2em;
  /* text-align: ; */
  border: 1px solid darkslategray;
  flex: 5;
}

.searchInput:focus {
  box-shadow: 2px 2px 1px darkslategrey;
  outline: none;
}

.submit {
  /* margin: 0 0 3em 0; */
  height: 2em;
  width: 12.3em;
  font-size: 1.2em;
  text-align: center;
  /* background-color: white; */
  border-radius: 5px;
  border: 1px solid darkslategray;
  flex: 1;
}

span p {
  font-size: 9px;
  text-align: center;
}

.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* height: 35vh; */
  justify-content: center;
  align-items: center;
}

.box {
  /* flex: 1; */
  height: 12em;
  width: 12em;
  margin: 1em;
  background-image: url('./recipe_default.jpeg');
  background-size: cover;
  border: 1px solid darkgrey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.result {
  flex-basis: 15%;
  height: 50vh;
}

.title {
  color: royalblue;
  font-size: 1.2em;
  margin: 0;
}

.artist {
  font-size: 1.8em;
  margin: .5em;
}

@media(min-width: 900px) {
  header {
    width: 88%;
  }
  .row {
    justify-content: space-between;
  }
  .box:nth-child(10) {
    align-self: center;
  }
  span {
    align-self: flex-start;
  }
}