body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

.player {
  border-bottom: solid 1px #BDBDBD;
  ;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: grey;
  width: 100%;
  align-self: center;
  background: #009688;
  color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;
}

.search-form {
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 1em;
  background-color: #009688;
}

.searchInput {
  height: 2em;
  width: 15em;
  font-size: 1.2em;
  border: 1px solid #BDBDBD;
  flex: 1;
  transition: .7s;
}

.searchInput:focus {
  box-shadow: 1px 1px 1px lightgrey;
  outline: none;
  flex: 5;
}

.submit {
  margin-left: 1em;
  height: 2em;
  width: 12.3em;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  flex: 1;
  background-color: #B2DFDB;
  outline: none;
  color: #FFFFFF;
}

span p {
  font-size: 9px;
  text-align: center;
}

.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border: 2px solid #BDBDBD;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.row:hover {
  background-color: #f2efef;
}

img {
  height: 12em;
  width: 12em;
  margin: 1em;
  border: 1px solid #BDBDBD;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  align-self: center;
  box-shadow: 5px 20px 50px 0px rgba(17, 17, 17, 0.4);
}

img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.result {
  flex-basis: 15%;
  height: 50vh;
}

.title {
  font-size: 1.5em;
  margin: 0;
}

.info {
  width: 40%;
  margin: 1em auto;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

audio {
  width: 100%;
  color: #FFFFFF;
}

.table {
  border-top: solid 1px #BDBDBD;
  border-bottom: solid 1px #BDBDBD;
  flex: 7;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2em;
}

.icon {
  flex: 1;
  border: none;
}


/* .icon:nth-of-type(1) {
  border-top: solid 1px #BDBDBD;
} */

.artist-data {
  flex: 5;
}

.row:first-child {
  font-weight: bold;
}

.fa {
  color: #607D8B;
}


/* .icon {
  left: 20px;
} */