body {
  background-color: white;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.player {
  border-bottom: solid 1px #004D40;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  background-color: skyblue;
}

header {
  text-align: center;
  background-color: grey;
  width: 100%;
  align-self: center;
}

.search-form {
  margin: 0 auto;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 0;
  background-color: lightgreen;
}

.searchInput {
  height: 2em;
  width: 15em;
  font-size: 1.2em;
  border: 1px solid darkslategray;
  flex: 1;
  transition: .7s;
}

.searchInput:focus {
  box-shadow: 1px 1px 1px lightgrey;
  outline: none;
  flex: 5;
}

.submit {
  margin-left: 1em;
  /* margin: 0 0 3em 0; */
  height: 2em;
  width: 12.3em;
  font-size: 1.2em;
  text-align: center;
  /* background-color: white; */
  border-radius: 5px;
  border: 1px solid darkslategray;
  flex: 1;
}

span p {
  font-size: 9px;
  text-align: center;
}

.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: lightpink;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

img {
  height: 12em;
  width: 12em;
  margin: 1em;
  border: 1px solid darkgrey;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  align-self: center;
  box-shadow: 5px 20px 50px 0px rgba(17, 17, 17, 0.4);
}

img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.result {
  flex-basis: 15%;
  height: 50vh;
}

.title {
  color: royalblue;
  font-size: 1.2em;
  margin: 0;
}

.artist {
  font-size: 1.8em;
  margin: .5em;
}

audio {
  width: 100%;
}

.table {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  flex: 1;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2em;
}

.row:first-child {
  font-weight: bold;
}

.table:first-child {
  /* border: none; */
  flex: 1.5;
}

@media(min-width: 900px) {
  header {
    width: 88%;
  }
  .row {
    justify-content: space-between;
  }
  .box:nth-child(10) {
    align-self: center;
  }
  span {
    align-self: flex-start;
  }
}